--extra-index-url https://download.pytorch.org/whl/nightly/rocm6.4
tokenizers==0.21.0
accelerate==1.2.0
optimum[amd]
# xformers
einops==0.8.0
packaging
ninja

qwen-vl-utils==0.0.8
timm
openai
clarifai==11.5.3
psutil


transformers==4.50.1
backoff==2.2.1
peft>=0.13.2
soundfile>=0.13.1
scipy==1.15.2
librosa
decord
