tokenizers==0.21.1
accelerate
optimum
xformers
einops==0.8.0
packaging
ninja

qwen-vl-utils==0.0.8
timm==1.0.12
openai
clarifai>=11.5.0,<12.0.0
psutil

torch==2.6.0
sglang[all]==0.4.6.post3
transformers